<div class='grid-r'>
  <div class='medium-3-4'>
    <div class='box'>
      <div class='content-header'>
        <h1>Alle pools</h1>
        <div class="form-search">
          <%= form_tag(pools_path, :method => "get", id: "search-form") do %>
            <button class='green'>
              <i class='fa fa-search'></i>
            </button>
            <div>
              <%= text_field_tag :search, params[:search], class: "span2", placeholder: "Zoeken..." %>
            </div>
          <% end %>
        </div>
      </div>
      <div class='pool-filter'>
        <p>Om mee te kunnen spelen in een pool dien je deze in de lijst aan te klikken. Wanneer deze niet publiekelijk is zul je het wachtwoord in moeten voeren. Klik op de groene knop om door te gaan.</p>
      </div>
      <div class='pool-filter'>
        <div class='filter-handle'>
          <h2>Filters</h2>
          <i class='fa fa-caret-right filter-arrow'></i>
        </div>
        <div class='filter-overview'>
          <form action='#'>
            <div class='grid-r'>
              <div class='small-1-3 filter-box'>
                <h3>Toegankelijkheid</h3>
                <div class='form-field'>
                <div class='checkbox'>
                    <input checked id='fp1' name='openpool' type='radio' value="0">
                    <label for='fp1'>Alle pools</label>
                  </div>
                  <div class='checkbox'>
                    <input id='fp2' name='openpool' type='radio' value="1">
                    <label for='fp2'>Openbare pools</label>
                  </div>
                  <div class='checkbox'>
                    <input id='fp3' name='openpool' type='radio' value="2">
                    <label for='fp3'>Prive pools</label>
                  </div>
                </div>

              </div>
              <div class='small-1-3 filter-box'>
                <h3>Volle pools</h3>
                <div class='form-field'>
                  <div class='checkbox'>
                    <input checked id='fvp1' name='poolspace' type='radio' value="1">
                    <label for='fvp1'>Tonen</label>
                  </div>
                  <div class='checkbox'>
                    <input id='fvp2' name='poolspace' type='radio' value="2">
                    <label for='fvp2'>Verbergen</label>
                  </div>
                </div>
              </div>
              <div class='small-1-3 filter-box'>
                <h3>Aantal deelnemers</h3>
                <div class='slider'>
                  <div class='minmax'>
                    <div class='mintext'></div>
                    <input class='min' name='playerssearch1' type='hidden'>
                    <div class='maxtext'></div>
                    <input class='max' name='playerssearch2' type='hidden'>
                  </div>
                  <div class='rangeslider'></div>
                </div>
              </div>
            </div>
            <div class=' filter-submit'>
              <input class='btn green fullwidth' type='submit' value='Filters toepassen'>                

            </div>
          </form>
        </div>
      </div>
      <div class='pool-list'>
        <ul>
          <% @pools.each do |pool| %>
            <li>
              <div class='view-table'>
                <a class='grey pool-list-inner view-row' href='#pool<%= pool.id %>' rel='modal:open'>
                  <div class='pool-list-img'>
                    <%= image_tag pool.avatar.url(:thumb) %>
                  </div>
                  <div class='pool-list-txt'>
                    <h2><%= pool.name %></h2>
                    <p><%= pool.poolmemberships.count %> / <%= pool.maximum_membership %></p>
                  </div>
                  <div class='pool-list-lock'>
                    <% if pool.is_public? %>
                      <i class='fa fa-unlock lock'></i>
                    <% else %>
                      <i class='fa fa-lock lock'></i>
                    <% end %>
                  </div>
                </a>
              </div>
              <div id='pool<%= pool.id %>' style='display:none'>
              <% if pool.is_public? %>
                <h1>Bij '<%= pool.name %>' aansluiten?</h1>
                <p>Weet je zeker dat jij je bij '<%= pool.name %>' wil aansluiten?</p>
                <%= form_tag poolmemberships_path do %>
                  <div class='grid-r modal-btns'>
                    <div class='default-1 small-1-2'>
                      <%= submit_tag "Ja, ik sluit mij aan", :class => 'btn green fullwidth' %>
                      <%= hidden_field_tag :pool_id, pool.id %>
                    </div>
                    <div class='default-1 small-1-2'>
                      <%= link_to 'Nee, ik wil verder zoeken', pools_path, :class => 'btn grey fullwidth' %>
                    </div>
                  </div>
                <% end %>
              <% else %>
                <h1>Wachtwoord '<%= pool.name %>'</h1>
                <p>Bevestig het wachtwoord van '<%= pool.name %>' om toegang te krijgen.</p>
                <div class='form-search modalpassword'>
                  <%= form_tag poolmemberships_path do %>
                    <button class='green' type='submit'>
                      <i class='fa fa-chevron-right'></i>
                    </button>
                    <div>
                      <%= password_field_tag :password  %>
                      <%= hidden_field_tag :pool_id, pool.id %>
                    </div>
                  <% end %>
                </div>
              <% end %>
              </div>
            </li>
          <% end %>
        </ul>
      </div>
<!--  <div class='pagination'>
        <div class='pages'>
          <div class='view-row'>
            <div class='prev'>
              <a class='btn grey' href='#'>
                <i class='fa fa-chevron-left'></i>
                <span class='text'>Vorige</span>
              </a>
            </div>
            <div class='page-btns'> 
            < %= will_paginate @pools %>
              <a class='btn green' href='#'>1</a>
              <a class='btn grey' href='#'>2</a>
              <a class='btn grey' href='#'>3</a>
              <a class='btn grey' href='#'>&hellip;</a>
              <a class='btn grey' href='#'>16</a>
            </div>
            <div class='page-title'>
              Pagina 2
            </div>
            <div class='next'>
              <a class='btn grey' href='#'>
                <span class='text'>Volgende</span>
                <i class='fa fa-chevron-right'></i>
              </a>
            </div>
          </div>
        </div> 
      </div> -->
    </div>
  </div>
  <div class='default-0 medium-1-4'>
    <%= render "shared/aside" %>
  </div>
</div>

<%= javascript_tag do %>
  filterHandle();
  rangeSlider();
<% end %>

