<%= form_for @pool, url: {action: "create"} do |f| %>
	Name: <%= f.text_field :name %> <br/>
	Image: <%= f.text_field :image %> <br/>
	<br/>
	Public? <br/>
	Public: <%= f.radio_button :public, true, :checked => true %><br />
	Private : <%= f.radio_button :public, false, :checked => false %><br />

	<div id="private_pool_enabled">
		Password: <%= f.password_field :password %>
		Password confirmation: <%= f.password_field :password_confirmation %>
	</div> 
	
	<%= error_message_for(:password, :prepend_text => "Het wachtwoord moet minimaal 7 tekens. ") %> 
	<%= error_message_for(:password_confirmation, :prepend_text => "<br/> De wachtwoorden komen niet overeen. ") %> 
	<br/>
	<%= f.submit "Pool aanmaken" %> 
<% end %>