<% title @pool.name %>
<div class='grid-r'>
  <div class='medium-3-4'>
    <div class='box'>
      <div class='content-header'>
        <h1><%= @pool.name %></h1>
      </div>

      <div class="content-header">
        <span class="default-hide small-show">
          <a href="<%= url_for pools_path %>" class="btn grey left"><i class="fa fa-chevron-left"></i> Terug naar het overzicht</a>
        </span>
        <% if @my_pool %>
          <% if @poolmember.role == 0 %>
            <a href="#pool<%= @pool.id %>" class="btn red pool-sign-in" rel='modal:open'><i class="fa fa-times"></i> Meld je af bij deze pool</a>
          <% end %>
        <% else %>
          <% if @pool.poolmemberships_count == @pool.maximum_membership %>
            <button type="button" class="grey-dark pool-sign-in">Deze pool is vol</button>
          <% else %>
            <a href="#pool<%= @pool.id %>" class="btn green pool-sign-in" rel='modal:open'><i class="fa fa-users"></i> Meld je aan bij deze pool</a>
          <% end %>
        <% end %>
      </div>

      <div class="pooldashboard-content">
        <h2>Stand</h2>

        <table class="table rank">
          <tbody>
            <% @pool.users.each_with_index do |user, index| %>
            <tr>
              <td><%= index + 1 %></td>
              <td><%= link_to user.nickname, user_path(user) %></td>
              <td>0</td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>

    </div>
  </div>
  <div class='default-0 medium-1-4'>
    <%= render "shared/aside" %>
  </div>
</div>


<div id='pool<%= @pool.id %>' style='display:none'>
<% if @my_pool %>
  <h1>'<%= @pool.name %>' verlaten?</h1>
  <p>Weet je zeker dat je '<%= @pool.name %>' wilt verlaten?</p>
  <div class='grid-r modal-btns'>
    <div class='default-1 small-1-2'>
      <%= link_to @poolmember, class:'btn green fullwidth', method: :delete do %>
        Ja, ik meld mij af
      <% end %>
    </div>
    <div class='default-1 small-1-2'>
      <button class="btn grey fullwidth" type="button" onclick="$.modal.close();">Nee, ik wil blijven</button>
    </div>
  </div>
<% else %>
  <% if @pool.is_public? %>
    <h1>Bij '<%= @pool.name %>' aansluiten?</h1>
    <p>Weet je zeker dat jij je bij '<%= @pool.name %>' wil aansluiten?</p>
    <%= form_tag poolmemberships_path do %>
      <div class='grid-r modal-btns'>
        <div class='default-1 small-1-2'>
          <%= submit_tag "Ja, ik sluit mij aan", :class => 'btn green fullwidth' %>
          <%= hidden_field_tag :pool_id, @pool.id %>
        </div>
        <div class='default-1 small-1-2'>
          <%= link_to 'Nee, ik wil verder zoeken', pools_path, :class => 'btn grey fullwidth' %>
        </div>
      </div>
    <% end %>
  <% else %>
    <h1>Wachtwoord '<%= @pool.name %>'</h1>
    <p>Bevestig het wachtwoord van '<%= @pool.name %>' om toegang te krijgen.</p>
    <div class='form-search modalpassword'>
      <%= form_tag poolmemberships_path do %>
        <button class='green' type='submit'>
          <i class='fa fa-chevron-right'></i>
        </button>
        <div>
          <%= password_field_tag :password  %>
          <%= hidden_field_tag :pool_id, @pool.id %>
        </div>
      <% end %>
    </div>
  <% end %>
<% end %>
</div>
