<% title @pool.name %>
<% pooladministrator = Poolmembership.find_by_user_id_and_pool_id(current_user.id, @pool.id) %>
<div class='grid-r'>
  <div class='medium-3-4'>
    <div class='box'>
      <div class='content-header'>
        <h1><%= @pool.name %></h1>
      </div>
      <div class='pool-list'>
        <ul>
          <% @pool.poolmemberships.each do |poolmembership| %>
            <li>
              <div class='view-table'>
                <a class='grey pool-list-inner view-row'>
                  <%= link_to User.find(poolmembership.user_id).nickname, user_path(poolmembership.user_id), :class => 'grey pool-list-inner view-row' %> Score: <%= Poolmembership.find(poolmembership.id).score %><br/> 

                  <% if Poolmembership.find(poolmembership.id).role == 1 %>
                  Beheerder
                  <% else %><% end %>

                </a>
              </div>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
  <div class='default-0 medium-1-4'>
    <%= render "shared/aside" %>
  </div>
  
</div>
<% if pooladministrator.blank? %>
<% elsif pooladministrator.role == 1 %>
<%= link_to 'Edit Pool', edit_pool_path, :class => 'green btn'%>
<% else %>
<% end %>


<%= javascript_tag do %>
  filterHandle();
  rangeSlider();
<% end %>

