<a href="../teams">Index</a><br/>
<%= form_for @team do |f| %>
<%= image_tag @team.avatar.url(:small), id: 'uploadPreview' %>
<%= f.file_field :avatar, class: "upload", id: "uploadImage", onchange: "PreviewImage();" %>

              <script type="text/javascript">
                function PreviewImage() {
                    var oFReader = new FileReader();
                    oFReader.readAsDataURL(document.getElementById("uploadImage").files[0]);

                    oFReader.onload = function (oFREvent) {
                        document.getElementById("uploadPreview").src = oFREvent.target.result;
                    };
                }
              </script>
              <br/>
              <br/>
<%= f.label :name, 'Naam' %>
            <%= f.text_field :name %>
            <%= f.label :poule, 'Poule' %>
            <%= f.text_field :poule %>

            <button class="green" type="submit">
                  myes 
                </button>
<% end %>