<div class="grid-r">
  <div class="medium-4-4">
    <div class="box">
      <form accept-charset="UTF-8" action="/app/teams" class="new_team" enctype="multipart/form-data" id="new_team" method="post">
        <div class="content-header">
          <h1>Teams</h1>
        </div>         
        <div class="pooldashboard-content">
          <%= form_for @team do |f| %>
          <table class="table admin-add-country">
            <tr>
              <td>
                <%= f.text_field :name, :placeholder => 'naam', :onclick => 'this.select();' %>
              </td>
              <td>
                <%= f.text_field :poule, :placeholder => 'poule', :onclick => 'this.select();' %>            
                <td>
                  <div class="avatar">
                    <%= image_tag @team.avatar.url(:thumb), id: 'uploadPreview' %>
                    <%= f.file_field :avatar, class: "upload", id: "uploadImage", onchange: "PreviewImage();" %>
                        
                    <script type="text/javascript">
                      function PreviewImage() {
                          var oFReader = new FileReader();
                          oFReader.readAsDataURL(document.getElementById("uploadImage").files[0]);

                          oFReader.onload = function (oFREvent) {
                              document.getElementById("uploadPreview").src = oFREvent.target.result;
                          };
                      }
                    </script>
                  </div>
                </td>
                <td>
                  <%= f.button 'Voeg team toe', :class => 'green' %>   
                </td>
            <tr>
          </table> 
          <% end %>
          </form>
        </div>  
      </div>
    </div>
  </div>
</div>