<div class='grid-r'>
  <div class='medium-3-4'>
    <div class='box'>
      <div class="content-header">
        <h1>Mijn voorspellingen</h1>
      </div>
      <div id="contentflash" class="contentflash success">
        <div class="view-table">
          <div class="view-row">
            <div class="contentflash-text-center">Je voorspelt nu voor: <strong><%= @pool.name %></strong></div>
          </div>
        </div>
      </div>

      <div class="prediction-steps">
        <div class="steps">            
          <div class="step active">
            <%= link_to prediction_path(@pool.id) do %>    
              <span class="small-hide">1.</span> <span class="default-hide small-show">Poule wedstrijden</span> 
            <% end %>
          </div>      
          <div class="step ">
            <%= link_to teamprediction_path(@pool.id) do %>          
              <span class="small-hide">2.</span> <span class="default-hide small-show">Poule eindstanden</span>
            <% end %>
          </div>            
          <div class="step ">
            <%= link_to knockoutprediction_path(@pool.id) do %>
              <span class="small-hide">3.</span> <span class="default-hide small-show">Knock-out fase</span>
            <% end %>
          </div>            
          <div class="step">
            <%= link_to bonusvragen_path(@pool.id) do %>          
              <span class="small-hide">4.</span> <span class="default-hide small-show">Bonus vragen</span>
            <% end %>            
          </div>
        </div>
      </div>

      <div class="pooldashboard-content">
        <h2>Poule wedstrijden new</h2>
        <%= form_tag controller: :predictions, action: :create_multiple_predictions do %>
          <%= hidden_field_tag 'pool_id', @pool.id %>
          <% @gamelist.sort.each_with_index do |(poule, games), index| %>
            <table class="table poule">
              <thead>
                <tr>
                  <th class="groupname" colspan="4">Groep <%= poule %></th>
                  <th class="default-hide small-show">&nbsp;</th>
                  <th class="default-hide small-show">&nbsp;</th>
                  <th class="default-hide small-show">Uitslag</th>
                  <th>Punten</th>
                </tr>
              </thead>
              <tbody>
                <% games.each_with_index do |game, index2| %>
                  <% current_poolmembership = Poolmembership.find_by_user_id_and_pool_id(current_user.id, @pool.id) %>
                  <% prediction = Prediction.find_by_poolmembership_id_and_game_id(current_poolmembership, game.id) %>
                  <% team1 = Team.find(game.team1_id) %>
                  <% team2 = Team.find(game.team2_id) %>

                  <%= fields_for "predictions[#{index}#{index2}]", Prediction.new do |p| %>
                    <%= p.hidden_field :poolmembership_id, :value => Poolmembership.find_by_user_id_and_pool_id(current_user.id, @pool.id).id %>
                    <%= p.hidden_field :game_id, :value => game.id %>
                    <%= p.hidden_field :team1_id, :value => game.team1_id %>
                    <%= p.hidden_field :team2_id, :value => game.team2_id %>
                    <%= p.hidden_field :final, :value => 5 %>
                    
                    <tr>
                      <td class="infoshower">
                        <i class="fa fa-question-circle"></i>
                        <div class="infobox hiddeninfo">
                          <%= team1.name %> - <%= team2.name %> <br />
                          <span><%= game.date %>, <%= game.time.strftime('%H:%M') %></span>
                        </div>
                      </td>
                      <td class="default-hide small-show"><%= team1.name %></td>
                      <td class="flag" style="background-image: url('<%=team1.avatar.url(:mini)%>')"></td>

                      <td class="predict-score">
                        <div class="view-table">
                          <div class="view-row">
                            <div>
                              <% if prediction.present? %>
                                <span class="predict"><%= prediction.prediction1 %></span>
                              <% else %>
                                <%= p.number_field :prediction1, :class => 'predict', :min => 0, :max => 20, :placeholder => 0, :value => nil %>
                              <% end %>
                            </div>
                            <div>
                              &ndash;
                            </div>
                            <div>
                              <% if prediction.present? %>
                                <span class="predict"><%= prediction.prediction2 %></span>
                              <% else %>
                                <%= p.number_field :prediction2, :class => 'predict', :min => 0, :max => 20, :placeholder => 0, :value => nil %>
                              <% end %>
                            </div>
                          </div>
                        </div>
                      </td>

                      <td class="flag" style="background-image: url('<%=team2.avatar.url(:mini)%>')"></td>
                      <td class="default-hide small-show"><%= team2.name %></td>
                      <td class="default-hide small-show">
                        <% if game.score1 == nil && game.score2 == nil %>
                         ? - ?
                        <% else %>
                          <%= game.score1 %> - <%= game.score2 %>
                        <% end %>
                      </td>
                      <td class="bold">
                        <% if prediction.present? && !(game.score1 == nil && game.score2 == nil) %>
                          <%= prediction.pointsearned %>
                        <% else %>
                          x
                        <% end %>
                      </td>
                    </tr>
                  <% end %>
                <% end %>
              </tbody>
            </table>
          <% end %>
          <div class="content-btn">
            <div class="center">
              <button class="btn green" type="submit">Opslaan</button>
            </div>
          </div>
          <div class="content-btn">
            <div class="right">
              <%= link_to 'Volgende >', teamprediction_path(pool_id: @pool.id), :class => 'btn green left' %>
            </div>

          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class='default-0 medium-1-4'>
    <%= render "shared/aside" %>
    <%= render "shared/aside_ad" %>
  </div>
</div>
