



<div class='grid-r'>
  <div class='medium-3-4'>
    <div class='box'>

        <ul>









<%= form_tag controller: :predictions, action: :create_multiple_predictions do %>
  
  <% @games.each_with_index do |game, index| %> 
    Game ID: <%= game.id %><br/>
    Team1 ID: <%= game.team1_id %><br/>
    Team2 ID: <%= game.team2_id %><br/><br/>

  <% end %>

<br/>
<br/>

  <% current_user.predictions.each do |prediction| %>

    <% b = Poolmembership.find(prediction.poolmembership_id) %>
  
    Pool ID: <%= @pool.id %><br/>
    Poolmembership ID: <%= b.id %><br/>
    Game ID: <%= prediction.game_id %><br/>
    <br/>
  <% end %>







<br/>
<br/>












<% end %>

    </div>
  </div>

  <div class='default-0 medium-1-4'>
    <%= render "shared/predictions" %>

    <%= render "shared/aside" %>
  </div>
</div>

