<div class='grid-r'>
  <div class='medium-3-4'>
    <div class='box'>
      <div class='content-header'>
      </div>






      <div class='pool-list'>
        <ul>
          <%= form_tag controller: :predictions, action: :create_multiple_predictions do %>
            
            <% @games.each_with_index do |game, index| %>            
              <li>
                <div class='view-table'>
                  <%= fields_for "predictions[#{index}]", Prediction.new do |p| %>  
                    <%= p.hidden_field :poolmembership_id, :value => Poolmembership.find_by_user_id_and_pool_id(current_user.id, @pool.id).id %>
                    <%= image_tag Team.find(game.team1_id).avatar.url(:mini) %></td>
          
                    <h3><%= Team.find(game.team1_id).name %>
                    <div style="width: 53px; display: inline-block;"><%= p.text_field :prediction1 %></div>
                    <div style="width: 53px; display: inline-block;"><%= p.text_field :prediction2 %></div>
                    <%= Team.find(game.team2_id).name %></h3>
                    <%= image_tag Team.find(game.team2_id).avatar.url(:mini) %></td>
          
                    <%= p.hidden_field :game_id, :value => game.id %>
                  <% end %>
                </div>   
              </li>
            <% end %>
            <button class="green" style="margin-left: 30px;" type="submit">
              Sla voorspellingen op &nbsp; <%= fa_icon 'chevron-right' %>
            </button>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

  <div class='default-0 medium-1-4'>
    <%= render "shared/predictions" %>

    <%= render "shared/aside" %>
  </div>
</div>

