



<div class="grid-r">
  <div class="medium-3-4">
   <div class="box">
      <div class="content-header">
        <h1>Mijn voorspellingen</h1>
      </div>

      <div class="prediction-steps">
        <div class="steps">
          <div class="step active">
            <span class="small-hide">1.</span> <span class="default-hide small-show">Poule wedstrijden</span>
          </div>
          <div class="step">
            <span class="small-hide">2.</span> <span class="default-hide small-show">Poule eindstanden</span>
          </div>
          <div class="step">
            <span class="small-hide">3.</span> <span class="default-hide small-show">Knock-out fase</span>
          </div>
          <div class="step">
            <span class="small-hide">4.</span> <span class="default-hide small-show">Bonus vragen</span>
          </div>
        </div>
      </div>



      <div class="pooldashboard-content">
        <h2>Poule wedstrijden</h2>

                    


        <table class="table poule">
          <thead>
            <th class="groupname" colspan="4">Groep A</th>
            <th class="default-hide small-show">&nbsp;</th>
            <th class="default-hide small-show">&nbsp;</th>
            <th class="default-hide small-show">Uitslag</th>
            <th>Punten</th>
            <tbody>



            <%= form_tag controller: :predictions, action: :create_multiple_predictions do %>
              <% @games.each_with_index do |game, index| %>
                  <% current_user.predictions.each do |p| %>
                      <% a = Pool.find(params[:pool_id]) %>
                      <% b = Poolmembership.find(p.poolmembership_id) %>
                      <% c = Prediction.find(p.id).game_id %>

                      <% if a.id == b.pool_id && c == 1 %>
                            Poolmembership ID: <%= best_in_place Prediction.find(p.id), :poolmembership_id %> ||
                            Game ID: <%= best_in_place Prediction.find(p.id), :game_id %> ||
                            <%= best_in_place Prediction.find(p.id), :prediction1 %> -
                            <%= best_in_place Prediction.find(p.id), :prediction2 %>
                            <br/>
                      <% end %>
                    <% end %>

                  <tr>
                    <td class="infoshower">
                      <i class="fa fa-question-circle"></i>
                      <div class="infobox hiddeninfo"><%= Team.find(game.team1_id).name %> - <%= Team.find(game.team2_id).name %> <br /> <span><%= game.date.strftime('%C %B') %>, <%= game.time.strftime('%H:%M') %></span></div>
                    </td>
                    
                    <td class="default-hide small-show"><%= Team.find(game.team1_id).name %></td>
                    <td class="flag"><%= image_tag Team.find(game.team1_id).avatar.url(:mini) %></td>
                    <td class="predict-score">
                      <div class="view-table">

                        <%= fields_for "predictions[#{index}]", Prediction.new do |p| %>
                          <%= p.hidden_field :poolmembership_id, :value => Poolmembership.find_by_user_id_and_pool_id(current_user.id, @pool.id).id %>
                          <%= p.hidden_field :game_id, :value => game.id %>
                          <div class="view-row">
                            <div>
                              <%= p.number_field :prediction1 %>
                            </div>
                            <div>
                              &ndash;
                            </div>
                            <div>
                              <%= p.number_field :prediction2 %>
                            </div>
                          </div>
                        <% end %>

                      </div>
                    </td>
                    <td class="flag"><%= image_tag Team.find(game.team2_id).avatar.url(:mini) %></td>
                    <td class="default-hide small-show"><%= Team.find(game.team2_id).name %></td>
                    <td  class="default-hide small-show"><% if game.score1 == nil && game.score2 == nil %>
                        x - x
                      <% else %>
                        <%= game.score1 %> - <%= game.score2 %>
                      <% end %></td>
                    <td class="bold green"><%= game.id %></td>
                  </tr>
                
              <% end %>
            </tbody>
          </thead>
        </table>

        <div class="content-btn">
          <div class="center">
            <button class="green" type="submit">Opslaan</button>
          </div>
        </div>
   <% end %>     
      </div>
    </div>
  </div>
  <div class='default-0 medium-1-4'>
      <%= render "shared/predictions" %>

    <%= render "shared/aside" %>
  </div>
</div>


<script type="text/javascript">
var display = false;

$(".infoshower").hover(function () {
  $(this).find(".hiddeninfo").fadeIn('fast')
}, function () {
  $(this).find(".hiddeninfo").fadeOut('fast')
});
var display = false;
</script>