<div class="container cf">
  <div class="steps">
    <div class="step active">
      1. <span class="pure-hidden-phone">Pool informatie</span>
    </div><div class="step">
      2. <span class="pure-hidden-phone">Bevestigen</span>
    </div><div class="step">
      3. <span class="pure-hidden-phone">Vrienden uitnodigen</span>
    </div>
  </div>

  <h1>1. Pool informatie</h1>
  <form action="step2.html">
    <div class="pure-g-r">
        <div class="pure-u-1-3">
          <div class="avatar">
            <img src="http://placehold.it/265x265" alt="placeholder">
            <button class="fullwidth primary" type="button">Afbeelding bewerken</button>

          </div>
        </div><div class="pure-u-2-3">
          <div class="form_container_steps">
            <div class="field">
              <label for="poolnaam">Pool naam</label>
              <%= f.text_field :name %>
              <span class="field_with_errors">
                <% if @pool.errors.any? %>
                  <%= @pool.errors[:name].to_sentence(words_connector: '<br />', two_words_connector: '<br />', last_word_connector: '<br />').html_safe %>
                <% end %>
              </span>
            </div>
            <div class="field">
              <label for="prive">Priv&eacute; pool?</label>
              <% if @pool.public || @pool.public.nil? %>
                <%= f.radio_button :public, true, :checked => true %><label for="pool_public_true">Public</label><%= f.radio_button :public, false, :checked => false %><label for="pool_public_false">Private</label>
              <% else %>
                <%= f.radio_button :public, true, :checked => false %><label for="pool_public_true">Public</label><%= f.radio_button :public, false, :checked => true %><label for="pool_public_false">Private</label>
              <% end %>
            </div>
            <div id="private_pool_enabled">
              <div class="field">
                <label for="poolnaam">Wachtwoord</label>
                <%= f.password_field :password %>
                <span class="field_with_errors">
                  <% if @pool.errors.any? %>
                    <%= @pool.errors[:password].to_sentence(two_words_connector: '<br />').html_safe %>
                  <% end %>
                </span>
              </div>
              <div class="field">
                <label for="poolnaam">Wachtwoord herhalen</label>
                <%= f.password_field :password_confirmation %>
                <span class="field_with_errors">
                  <% if @pool.errors.any? %>
                    <%= @pool.errors[:password_confirmation].to_sentence(two_words_connector: '<br />').html_safe %>
                  <% end %>
                </span>
              </div>
            </div>

            <%= f.submit "Volgende stap", :class => %w(primary next btn) %>
          </div>
        </div>
    </div>
  </form>
</div>
