<% if current_user %>
<div class='box aside'>
  <p>
    <a class="grey no-under" href="https://www.facebook.com/mijnwkpool?fref=photo">
      <i class="fa fa-facebook-square"></i>&nbsp;<small> facebook.com/mijnwkpool</small>
    </a>
  </p>  
  <p>
    <a class="grey no-under" href="https://www.facebook.com/mijnwkpool?fref=photo">
      <i class="fa fa-twitter"></i>&nbsp;<small> twitter.com/mijnwkpool</small>
    </a>
  </p>
  <p>
    <a class="grey no-under" href="https://plus.google.com/+Mijnwkpool/posts">
      <i class="fa fa-google-plus"></i>&nbsp;<small> plus.google.com/+mijnwkpool</small>
    </a>
  </p>  
</div>
<div class='box aside'>
  <div class='side-header'>
    <h2>Mijn pools</h2>
  </div>
  <div class='pool-list-small'>
    <% if current_user.poolmemberships.count > 0 %>
    <ul>
    <% current_user.poolmemberships.each do |pool| %>
      <li>
        <%= link_to pool_path(pool.pool_id),:class => 'grey' do %>
          <%= Pool.find(pool.pool_id).name %>
        <% end %>
      </li>
    <% end %>
    </ul>
    <% else %>
    <br>
    <p>Je zit nog niet in een pool.</p>
    <br>
    <% end %>
    <%= link_to 'Alle pools', pools_path, :class => 'green btn fullwidth'%>
    <br>
    <%= link_to 'Een pool aanmaken', new_pool_path, :class => 'green btn fullwidth'%>
  </div>
</div>
<% else %>

<div class='box aside'>
  <div class='side-header'>
    <h2>Registreer</h2>
  </div>
  <div class='pool-list-small'>
  <br/>
    <p>Om mee te genieten van mijnwkpool en je aan te sluiten bij deze pool, is het vereist om te registreren.</p>
    <br/>
    <%= link_to 'Registreren', register_path, :class => 'green btn fullwidth'%>
    <br>
    <%= link_to 'Ik heb al een account', log_in_path, :class => 'grey btn fullwidth'%>
  </div>
</div>

<% end %>