<div class="grid-r">
  <div class="medium-4-4">
    <div class="box">
      <div class="content-header">
        <h1>Wedstrijden</h1>
      </div>
      <div class="pooldashboard-content">
        <%= form_for (@game) do |f| %>
        <%= f.label :score1, 'Score 1' %>
        <%= f.text_field :score1 %>

        <%= f.label :score2, 'Score 2' %>
        <%= f.text_field :score2 %>
        Poule: 
                <%= f.text_field :poule %>
        <%= f.label :team1_id, 'Team 1' %> -
        <%= f.select "team1_id", options_from_collection_for_select(Team.all, "id", "name", :selected => f.object.team1_id)%><br/>

        <%= f.label :team2_id, 'Team 2' %> -
        <%= f.select "team2_id", options_from_collection_for_select(Team.all, "id", "name", :selected => f.object.team2_id)%><br/>
        Tijd: <%= f.time_select :time %><br/>
        Datum: <%= f.date_select :date %><br/>
        Gametype: <%= f.select :gametype, options_for_select([["Gametype", ""], "Poule", "Achtste finale", "Kwart finale", "Halve finale", "Finale"], :selected => f.object.gametype)%>   
        <%= link_to 'Game verwijderen', @game, method: :delete, data: { confirm: 'Weet je zeker dat je deze game wilt verwijderen?' }, :class => 'btn red pool-sign-in'  %>
        <%= button_to 'Wedstrijd opslaan', @game, method: :update, :class => 'btn green '  %>
        <% end %>  
      </div>
    </div>
  </div>
</div>