<h1>Listing games</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th>team 1</th>
      <th>team 2</th>
      <th>score 1</th>
      <th>score 2</th>
    </tr>
  </thead>

  <tbody>
    <% @games.each do |game| %>
      <tr>
      <td>          
        <td><h2><%= game.team_id1 %></td>
        <td><h2><%= game.team_id2 %></td>
        <td><h2><%= game.score1 %></h2></td>
        <td><h2><%= game.score2 %></h2></td>
        <td><%= link_to 'Show', game %></td>
        <td><%= link_to 'Edit', edit_game_path(game) %></td>
        <td><%= link_to 'Destroy', game, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Game', new_game_path %>


