<div class="grid-r">
  <div class="medium-4-4">
    <div class="box">
      <form accept-charset="UTF-8" action="/app/games" class="new_game" enctype="multipart/form-data" id="new_game" method="post">
        <div class="content-header">
          <h1>Wedstrijden</h1>
        </div>
        <div class="pooldashboard-content">
         <table id="myTable" class="table admin"> 
            <thead>
              <tr>
                <th>Datum</th>
                <th>Tijd</th>
                <th>Team 1</th>
                <th>Score</th>
                <th>Team 2</th>
                <th>Gametype</th>
              </tr>
            </thead>
              
            <tbody>
              <% @games.each do |f| %>
                <tr>
                  <td><%= f.date %></td>
                  <td><%= f.time.strftime("%I:%M") %></td>
                  <td><%= image_tag Team.find(f.team1_id).avatar.url(:mini) %><%= Team.find(f.team1_id).name %></td>
                  <td><%= f.score1 %>-<%= f.score2 %></td>
                  <td><%= image_tag Team.find(f.team2_id).avatar.url(:mini) %><%= Team.find(f.team2_id).name %></td>
                  <td><%= f.gametype %></td>                  
                  <td><%= link_to 'Edit', edit_game_path(f) %></td>
                </tr>
              <% end %>
            </tbody>
          </table>

         <table class="table admin">     
            <tbody>
              <%= form_for (@game) do |f| %>
                <tr>
                  <td style="padding: 4px;">
                     <%= f.date_select :date, :use_short_month => true %>
                  </td>
                  <td style="padding: 5px;">
                    <%= f.time_select :time %>
                  </td>
                  <td>
                    <%= select_tag "team1_id", options_from_collection_for_select(Team.all, "id", "name"), { :class => 'dropdown' }%>
                  </td>
                  <td class="predict-score">
                    <div class="view-table">
                      <div class="view-row">
                          <%= f.text_field :score1 %>
                        <div>
                          &ndash;
                        </div>
                          <%= f.text_field :score2 %>
                      </div>
                    </div>
                  </td>
                  <td>
                    <%= select_tag "team2_id", options_from_collection_for_select(Team.all, "id", "name"), { :class => 'dropdown' }%>
                  </td>

                  <td>
                    <select id="gametype"name="gametype">
                      <option value="Poule">Poule</option>
                      <option value="Knockout">Knockout</option>
                      <option value="Kwartfinale">Kwartfinale</option>
                      <option value="Halve finale">Halve finale</option>
                    </select>               
                  </td>
                  <td></td>
                </tr>
              <%= f.button 'Voeg wedstrijd toe', :class => 'green fullwidth' %>
            <% end %>              
          </tbody>
        </table>

