<a href="../teams">Index</a><br/>
<%= form_for Game.new, html: { multipart: true } do |f| %>
  <%= f.label :score1, 'Score 1' %>
  <%= f.text_field :score1 %>

  <%= f.label :score2, 'Score 2' %>
  <%= f.text_field :score2 %>



  <% if @game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
      <% @game.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>