<a href="../teams">Index</a><br/>
<%= form_for @game do |f| %>
  <%= f.label :score1, 'Score 1' %>
  <%= f.text_field :score1 %>

  <%= f.label :score2, 'Score 2' %>
  <%= f.text_field :score2 %>

  <%= f.label :team1_id, 'Team 1' %>
  <%= select(:team, :team1_id, Team.all.collect {|p| [ p.name, p.id ] }) %>

  <%= f.label :team2_id, 'Team 2' %>
  <%= select(:team, :team2_id, Team.all.collect {|p| [ p.name, p.id ] }) %>

  <% if @game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
      <% @game.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>