<% title "Voorspellingen aanpassen - #{@pool.name}" %>
<div class='grid-r'>
  <div class='medium-3-4'>
    <div class='box'>
      <div class="content-header">
        <h1>Mijn voorspellingen</h1>
      </div>
      <div id="contentflash" class="contentflash success">
        <div class="view-table">
          <div class="view-row">
            <div class="contentflash-text-center">Je voorspelt nu voor: <strong><%= @pool.name %></strong></div>
          </div>
        </div>
      </div>

      <div class="prediction-steps">
        <div class="steps">            
          <div class="step active">
            <%= link_to prediction_path(@pool.id) do %>    
              <span class="small-hide">1.</span> <span class="default-hide small-show">Poule wedstrijden</span> 
            <% end %>
          </div>      
          <div class="step active">
            <%= link_to teamprediction_path(@pool.id) do %>          
              <span class="small-hide">2.</span> <span class="default-hide small-show">Poule eindstanden</span>
            <% end %>
          </div>            
          <div class="step active">
            <%= link_to knockoutprediction_path(@pool.id) do %>
              <span class="small-hide">3.</span> <span class="default-hide small-show">Knock-out fase</span>
            <% end %>
          </div>            
          <div class="step">
            <%= link_to bonusvragen_path(@pool.id) do %>          
              <span class="small-hide">4.</span> <span class="default-hide small-show">Bonus vragen</span>
            <% end %>            
          </div>
        </div>
      </div>

      <div class="pooldashboard-content">
        <div class="content-btn">
          <h2>Halve Finale </h2>          
        </div>                
        <%= form_tag controller: :predictions, action: :update_multiple_predictions do %>
          <input name="_method" type="hidden" value="patch" />
          <%= hidden_field_tag 'pool_id', @pool.id %>
            <% @gamessemilist.sort.each_with_index do |(gametype, gamessemi), index| %>
              <table class="table poule">
                <thead>
                  <tr>
                    <th class="default-hide small-show" colspan="5">&nbsp;</th>
                    <th class="default-hide small-show">&nbsp;</th>
                    <th class="default-hide small-show">&nbsp;</th>
                    <th class="default-hide small-show">Winnaar</th>                    
                    <th class="default-hide small-show">Uitslag</th>
                    <th>Punten</th>
                  </tr>
                </thead>
                <tbody>
    
                <% gamessemi.each_with_index do |game, index2| %>
                  <% current_poolmembership = Poolmembership.find_by_user_id_and_pool_id(current_user.id, @pool.id) %>
                  <% prediction = Prediction.find_by_poolmembership_id_and_game_id(current_poolmembership, game.id) %>

                  <% predictionteam1 = @semipredictionarray[index2][:team1] %>
                  <% predictionteam2 = @semipredictionarray[index2][:team2] %>

                  <% predictionteam1 = Team.eightleader(predictionteam1[:game_id], predictionteam1[:final], predictionteam1[:poolmembership_id],predictionteam1[:winner]) %>
                  <% if predictionteam1 == nil %>
                    <% team1 = Team.find(game.team1_id) %>                  
                  <% end %>
                  <% puts predictionteam1 %>
                  <% predictionteam2 = Team.eightleader(predictionteam2[:game_id], predictionteam2[:final], predictionteam2[:poolmembership_id],predictionteam2[:winner]) %>
                  <% if predictionteam2 == nil %>
                    <% team2 = Team.find(game.team2_id) %>
                  <% end %>

                  <%= fields_for "predictions[#{index}#{index2}]", prediction do |p| %>
                    <%= p.hidden_field :poolmembership_id, :value => Poolmembership.find_by_user_id_and_pool_id(current_user.id, @pool.id).id %>   
                    <%= p.hidden_field :id, :value => prediction.id %>
                    <%= p.hidden_field :final, :value => 2 %>
                    <%= p.hidden_field :team1_id, :value => predictionteam1[0]['id'] %>
                    <%= p.hidden_field :team2_id, :value => predictionteam2[0]['id'] %>
     
                    <tr>
                      <td class="infoshower">
                        <i class="fa fa-question-circle"></i>
                        <div class="infobox hiddeninfo">
                          <% if team1.present? %>                            
                            <%= team1.name %>
                          <% else %>
                            <%= predictionteam1[0]['name'] %>
                          <% end %>
                          -
                          <% if team2.present? %>   
                            <%= team2.name %>
                          <% else %>
                            <%= predictionteam2[0]['name'] %>
                          <% end %> 
                          <br/>
                          <span><%= game.date %>, <%= game.time.strftime('%H:%M') %></span>
                        </div>
                      </td>
                      <td class="default-hide small-show">
                        <% if team1.present? %>                            
                          <%= team1.name %>
                        <% else %>
                          <%= predictionteam1[0]['name'] %>
                        <% end %>
                      </td>
                      <% if team1.present? %>                            
                        <td class="flag" style="background-image: url('<%=team1.avatar.url(:mini)%>')"></td> 
                      <% else %>
                      <% if predictionteam1[0]['id'].to_i < 10 %>
                          <td class="flag" style="background-image: url('/system/teams/avatars/000/000/00<%= predictionteam1[0]['id'] %>/mini/<%= predictionteam1[0]['avatar_file_name']%>')"></td>
                        <% else %>
                          <td class="flag" style="background-image: url('/system/teams/avatars/000/000/0<%= predictionteam1[0]['id'] %>/mini/<%= predictionteam1[0]['avatar_file_name']%>')"></td> 
                        <% end %>  
                        <% end %>                                            
                      <td class="predict-score">
                        <div class="view-table">
                          <div class="view-row">
                            <div>
                              <%= p.number_field :prediction1, :class => 'predict', :min => 0, :max => 20 %>
                            </div>
                            <div>
                              &ndash;
                            </div>
                            <div>
                              <%= p.number_field :prediction2, :class => 'predict', :min => 0, :max => 20 %>
                            </div>
                          </div>
                        </div>
                      </td>

                      <% if team2.present? %>                            
                        <td class="flag" style="background-image: url('<%=team2.avatar.url(:mini)%>')"></td> 
                      <% else %>
                      <% if predictionteam2[0]['id'].to_i < 10 %>
                          <td class="flag" style="background-image: url('/system/teams/avatars/000/000/00<%= predictionteam2[0]['id'] %>/mini/<%= predictionteam2[0]['avatar_file_name']%>')"></td>
                        <% else %>
                          <td class="flag" style="background-image: url('/system/teams/avatars/000/000/0<%= predictionteam2[0]['id'] %>/mini/<%= predictionteam2[0]['avatar_file_name']%>')"></td> 
                        <% end %>  
                        <% end %>                                                                  
                      <td class="default-hide small-show">
                       <% if team2.present? %>                            
                          <%= team2.name %>
                        <% else %>
                          <%= predictionteam2[0]['name'] %>
                        <% end %>                      
                      </td>
                      <td class="predict-score">
                        <% if team1.present? && team2.present? %>
                          <%= p.select "winner", options_for_select([[team1.name, team1.id], [team2.name, team2.id]], :selected => prediction.winner), { :class => 'dropdown', :style => 'height: 50px; width: 110px; border:0px;' }%>                     
                        <% elsif team1.present? %>
                          <%= p.select "winner", options_for_select([[team1.name, team1.id], [predictionteam2[0]['name'], predictionteam2[0]['id']]], :selected => prediction.winner), { :class => 'dropdown', :style => 'height: 50px; width: 110px; border:0px;' }%>                                                              
                        <% elsif team2.present? %>
                          <%= p.select "winner", options_for_select([[predictionteam1[0]['name'], predictionteam1[0]['id']], [team2.name, team2.id]], :selected => prediction.winner), { :class => 'dropdown', :style => 'height: 50px; width: 110px; border:0px;' }%>                                                    
                        <% else %>                            
                          <%= p.select "winner", options_for_select([[predictionteam1[0]['name'], predictionteam1[0]['id']], [predictionteam2[0]['name'], predictionteam2[0]['id']]], :selected => prediction.winner), { :class => 'dropdown', :style => 'height: 50px; width: 110px; border:0px;' }%>
                        <% end %>            
                      </td>                                
                      <td class="default-hide small-show">
                        <% if game.score1 == nil && game.score2 == nil %>
                         ? - ?
                        <% else %>
                          <%= game.score1 %> - <%= game.score2 %>
                        <% end %>
                      </td>
                      <td class="bold
                        <% if prediction.present? && !(game.score1 == nil && game.score2 == nil) %>
                          <% if prediction.pointsearned == 12 %>
                            green
                          <% elsif prediction.pointsearned == 0 %>
                            red
                          <% else %>
                          <% end %>
                        <% else %>
                          x
                        <% end %>
                      ">
                        <% if prediction.present? && !(game.score1 == nil && game.score2 == nil) %>
                          <%= prediction.pointsearned %>
                        <% else %>
                          x
                        <% end %>
                      </td>
                    </tr>
                  <% end %>
                <% end %>
              </tbody>
            </table>
          <% end %>
          <div class="content-btn">
            <div class="center">
              <button class="btn green" type="submit">Opslaan</button>
            </div>
          </div>
        <% end %>
      </div>

    </div>
  </div>
  <div class='default-0 medium-1-4'>
    <%= render "shared/aside" %>
    <%= render "shared/aside_admin" %>
    <%= render "shared/aside_ad" %>
  </div>
</div>

<script type="text/javascript">
$(".infoshower").hover(function () {
  $(this).find(".hiddeninfo").fadeIn('fast');
}, function () {
  $(this).find(".hiddeninfo").fadeOut('fast');
});
</script>
