<!DOCTYPE html>
<html>
<head>
  <title>mijnwkpool - <%= yield(:title) %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%= favicon_link_tag 'favicon.ico' %>
</head>
<body>
  <% flash.each do |key, value| %>
    <div id="flash" class="flash <%= key %>">
      <div class="flash-inner">
        <div class="view-row">
          <div class="flash-text"><%= value %></div>
          <div id="flashClose" class="flash-close">
            <i class="fa fa-times flash-close-btn"></i>
          </div>
        </div>
      </div>
      <script>flashMessage();</script>
    </div>
  <% end %>

  <% if current_user %>

  <div id="mobile-nav" class="mobile-nav closed">
    <a id="nav-close-btn" class="nav-close-btn" href="#">
      <i class="fa fa-times"></i>
    </a>
    <ul>
      <li><%= link_to 'Dashboard', app_root_path %></li>
      <li><%= link_to 'Alle pools', pools_path %></li>
    </ul>
    <ul>
      <% if current_user.poolmemberships.count > 0 %>
        <ul>
          <% current_user.poolmemberships.each do |pool| %>
            <li>
              <%= link_to pool_path(pool.pool_id),:class => 'grey' do %>
                <%= Pool.find(pool.pool_id).name %>
              <% end %>
            </li>
          <% end %>
        </ul>
        <% else %>
        <br>
        <p>Je speelt nog niet mee in een pool.</p>
        <br>
      <% end %>
    </ul>
    <ul>
      <ul></ul>
      <li><%= link_to 'Pool aanmaken', new_pool_path %></li>
    </ul>
  </div>
  <div class='wrapper'>
    <div class="header-wrapper">
      <div class="header-inner">
        <div class="logo">
          <%= link_to app_root_path do %>
            <div class="default-hide small-show">
              <img src="<%= image_path('logo-big.svg') %>" alt="mijnwkpool" height='60'>
            </div>
            <div class="small-hide">
              <img src="<%= image_path('logo-small.svg') %>" alt="mijnwkpool" height='50'>
            </div>
          </a>
          <% end %>
        </div>
        <div class="nav">
          <div class="default-hide medium-show">
            <ul>
              <li <%= is_active?(app_root_path) %>><%= link_to 'Dashboard', app_root_path, :class => 'grey' %></li>
              <li <%= is_active?(pools_path) %>><%= link_to 'Alle pools', pools_path, :class => 'grey' %></li>
            </ul>
          </div>
          <div class="medium-hide">
            <a class="nav-btn" id="nav-open-btn" href="#">
              <i class="fa fa-bars"></i> MENU
            </a>
          </div>
        </div>
        <% if current_user %>
          <div class="user">
            <a href="<%= url_for users_path%>/<%=(current_user.id) %>" class="grey">
              <div class="user-name">
                <%= current_user.nickname %>
              </div>
              <div class="user-icon">
                <i class="fa fa-user"></i>
              </div>
            </a> <%= link_to 'Log uit', log_out_path, :class => 'grey' %>
          </div>
        <% end %>
      </div>
    </div>

    <% else %>
    <% end %>

    <div class='content-wrapper'>
      <%= yield %>
    </div>
  </div>
  <script>menuButton();</script>
  <%= render 'shared/footer' %>
</body>
</html>
